@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
form{
    display: flex;
    align-items: center;
    background: linear-gradient(#c31432,#240b36);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#1a2a6c,#b21f1f,#fdbb2d);

}
.container{
    width: 80%;
    padding: 20px;
}
.container h2{
    width: 100%;
    color: #EBEBEB;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}
.container .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.container .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}
.container .row100 .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color:  #EBEBEB;
}
.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none; 
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #EBEBEB;
}
.container .row100 .inputBox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text{
    top: -35px;
    left: -10px;
}
.container .row100 .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #EBEBEB;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.container .row100 .inputBox input:focus + .line,
.container .row100 .inputBox input:valid + .line{
    height: 100%;
}
.container .row100 .inputBox.textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
} 
.container .row100 .inputBox.textarea textarea{
    height: 100%;
    resize: none;
}
.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text{
    top: -35px;
    left: -10px;
}
.container .row100 .inputBox textarea:focus + .line,
.container .row100 .inputBox textarea:valid + .line{
    height: 100%;
}
input[type="submit"]{
    text-align: left;
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: #EBEBEB;
    color: #000;
    font-size: 18px;
    border-radius: 2px;
}



a{
    position: absolute;
    top: 40px;
    left: 80px;
    text-decoration: none;
    font-size: 34px;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 55px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg,#ee0979,#ff6a00,#C02425,#ee0979);
    background-size: 400%;
    border-radius: 30px;
}
a:hover{
    animation: animate 8s linear infinite;
    filter: blur(0.7px);
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

a:before{
    content: '';
    position: absolute;
    top: -5;
    left: -5;
    right: -5;
    bottom: -5;
    z-index: -1;
    background: linear-gradient(90deg,#ee0979,#ff6a00,#C02425,#ee0979);
    background-size: 400%;
    border-radius: 40px;
}
a:hover:before{
    filter: blur(20px);
    opacity: 1;
}

button{
    position: absolute;
    background: #fff;
    color: #000;
    border-radius: 18px;
    font-weight: 500;
    display: block;
    padding: 0;
    box-sizing: border-box;
    top: -50px;
    left: 10px;
    font-size: 20px;
    font-family: 'Poppins'
}

#mensaje,
#mensajeaqui{
position: absolute !important;
top: 50px !important;
}